<?xml version="1.0"?>
<mailConfiguration>
  <CommonConfiguration OverrideToAddress="false" ToAddress="" />
  <MailMessage MessageType="TestMail" IsHtml="true">
    <MessageSubject>Unit Test Mail on {MachineName.Value}</MessageSubject>
    <MessageBody>
      <![CDATA[
如果你收到了这封邮件，则证明 {MachineName.Value} 上的邮件配置已经生效。参数摘要如下：<br />
Smtp服务器：{SmtpServer.Value}<br />
Smtp端口：{SmtpServerPort.Value}<br />
Smtp用户名：{SmtpUserName.Value}<br />
发件人显示名：{EmailDisplayName.Value}<br />
启用SSL加密：{EnableSsl.Value}<br />
      ]]>
    </MessageBody>
  </MailMessage>
</mailConfiguration>