<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailConfiguration" type="Edi.XmlConfigMapper.XmlSection`1[[Edi.TemplateEmail.MailConfiguration, Edi.TemplateEmail, Culture=neutral]], Edi.XmlConfigMapper" />
  </configSections>
  <mailConfiguration configSource="mailConfiguration.config" />
</configuration>