<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mailConfiguration" type="Edi.TemplateEmail.NetStd.XmlConfigMapper.XmlSection`1[[Edi.TemplateEmail.NetStd.MailConfiguration, Edi.TemplateEmail.NetStd, Culture=neutral]], Edi.TemplateEmail.NetStd"/>
  </configSections>
  <mailConfiguration configSource="mailConfiguration.config"/>
</configuration>
