name: .NET build and pack

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Build with dotnet
      run: dotnet build --configuration Release
      working-directory: ./src/Edi.TemplateEmail
    - name: Generate nuget package
      run: dotnet pack --configuration Release -o nupkg
      working-directory: ./src/Edi.TemplateEmail
    - name: Push nuget package
      run: dotnet nuget push **\*.nupkg -s 'https://api.nuget.org/v3/index.json' -k ${{secrets.NUGET_API_KEY}} --skip-duplicate
      working-directory: ./src/Edi.TemplateEmail